@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0e0e12;
}
::-webkit-scrollbar-thumb {
  background: #2a2a3a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3a5;
}

::selection {
  background-color: #22d3a5;
  color: #0e0e12;
}
